body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
}

.full-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    opacity: 0.4;
}

.full-btn:hover {
    opacity: 1;
}